.react-calendar {
    width: 350px;
    max-width: 100%;
    background: white;
    border: none !important;
    box-shadow: 0 0 10px #f1eded !important;
    font-family: Arial !important;
    line-height: 1.125em;
}
abbr[data-original-title], abbr[title] {
    text-decoration: none !important;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    text-decoration-skip-ink: none;
}
.react-calendar__tile--none {
    background: none !important;
    color: white;
}